.worldMap::-webkit-scrollbar {
  display: none;
}

.worldMap {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* 
.pin { 
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  background-image: url('../assets/icons/Pin.svg');
} */